<% content_for :document_ready do %>
  createStoryJS({
    type: 'timeline',
    width: '100%',
    height: 650,
    source: window.timelineData,
    embed_id: 'timeline',
    hash_bookmark: true
  });
  $(window).bind('LOADED', function(e, data) {
    if (!window.timelineLoaded && (selectedItem = $('.slider-item.selected-item')).length && (selectedIndex = $('.slider-item').index(selectedItem)).length && $('.flag').length) {
      window.timelineLoaded = true;
      $(".flag:nth(" + selectedIndex + ")").trigger('click', {number: 12});
    }
  });
<% end %>

<div id="timelines_show_page">
  <%= render partial: 'search_form' %>
  
  <div id="timeline"></div>
</div>

<script type="text/javascript" src="/js/storyjs-embed.js"></script>

<script type="text/javascript">
  window.timelineData = <%=raw @object.to_timeline.to_json %>;
</script>
